*{
    padding: 0;
    margin: 0;

   }

body {
font-family: Arial, sans-serif;
background-color: #f9f9f9;
color: #333;
background-color: lightblue;
display: flex;
align-items: center;
justify-content: center;
}



.container2{
    background-color: #fff;
    /* margin-top: 40%; */
    padding: 30px;
    text-align: center;
    gap: 10px;
    border-radius: 30px;
    border-bottom: #333 solid 5px;
    border-right: #333 solid 5px;
    border-left: #333 solid 5px;
}

.header h1 {
text-align: center;
color: #444;
font-size: 45px;
font-weight: 600;
}

.student-info h2{
    font-style: italic;
    color: #395f47;
    margin-top: 20px;
}

.student-info h2 span{
    color: #333456;
}

.notice-board{
    display: flex;
    flex-direction: column;
}

.notice-board ul{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.notice-board ul button{
    margin-top: 5px;
    padding: 10px;
    background-color: #29bc5f;
    border: none;
    border-radius: 5px;
    width: 50%;
}

.notice-board ul button:nth-child(even){
 background-color: #333456;   
}

.notice-board ul button a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    

}

